.half_highlight {
    background:linear-gradient(to top, #ffe400 50%, transparent 50%);}
.custom-title{
    font-size: x-large;
    font-weight: 800;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.custom-title-item{
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}