#stockSetting-header{
    justify-content: space-between;
}
/* #addBtn .MuiIconButton-root{
    padding:0;
} */
#stockSetting-container{
    border: solid 2px lightgray;
    border-radius: 10px;
    
}
#stocklist{
    width:100%; 
    border:solid 2px lightgray;
    border-radius: 10px;
}