// Area Chart
.chart-area {
  position: relative;
  height: 13rem;
  width: 100%;
  margin-bottom: 3rem;
  @include media-breakpoint-up(md) {
    height: 18rem;
    margin-bottom:0rem
  }
}

// Bar Chart
.chart-bar {
  position: relative;
  height: 13rem;
  width: 100%;
  @include media-breakpoint-up(md) {
    height: calc(18rem - 43px);
  }
}

// Pie Chart
.chart-pie {
  position: relative;
  height: 13rem;
  width: 100%;
  @include media-breakpoint-up(md) {
    height: calc(18rem - 43px) !important;
  }
}
// Line Chart
.chart-line {
  position: relative;
  height: 13rem;
  width: 100%;
  @include media-breakpoint-up(md) {
    height: calc(18rem - 43px) !important;
  }
}

