// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";
@import "forms.scss";
.account-card{

    text-decoration: none;
    position: relative;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 20px
   
}

.seperator-black{

height: 30px;
width: 1px;
background: #000;

}

.seperator-gray{

    height: 30px;
    width: 1px;
    background:#6e707e;
    
    }

    .tooltip {
        display: inline-block;
        font-weight: bold;
      }

      .tooltip-text {
        display: none;
        position: absolute;
        max-width: 200px;
        border: 1px solid;
        border-radius: 5px;
        padding: 5px;
        font-size: 0.8em;
        color: white;
        background: deeppink;
      }

      .tooltip:hover .tooltip-text {
        display: block;
      }